.img-hover-effect img {
    transition: 0.3s ease-in-out;
}
.searchBar {
    display: flex;
    align-items: center;
}

.searchBar input {
    flex-grow: 1;
    padding: 6px 10px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ccc;
}

.searchBar button {
    padding: 6px 10px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    background: white;
}
.img-hover-effect img:hover {
    opacity: 0.7;
    transform: scale(1.03);
    cursor: pointer;
}
.film-img {
    height: 150px;
    width: 80px;
}

.film-img-carousel {
    width: 100%;
    height: 500px;
}

.carousel {
    height: 500px;
    width: 100%;
}

.title {
    border-left: solid rgb(61, 61, 61) 5px
}

.item {
    display: inline-flex;
}

.picture {
    height: 250px;
    width: 180px;
    border-radius: 5px;
}

#footer {
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
}
#new-list ul {

    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    flex-wrap: wrap;
    list-style: none;
}
#TopToWatch ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.container.wrapper {
    background-color: #343a40 !important;
    color: rgb(255, 255, 255);
    /* width: 70%;
    margin-left: 15%; 
    margin-right: 15%;  */
}
body {
    padding-left: 15%;
    padding-right: 15%;
}
.ad {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    max-width: 15%;
    z-index: 10;
    pointer-events: auto;
}

.ad-left {
    left: 0;
}

.ad-right {
    right: 0;
}

.ad img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.ad img:hover {
    opacity: 0.7;
    transform: scale(1.03);
    cursor: pointer;

}



